.container {
    width: 1190px;
    margin: 0 auto;
    min-width: 1190px;
}
.hide {
    display: none;
}
a {
    text-decoration: none;
    color: #666;
    font-size: 12px;
    cursor: pointer;
}
.clearfix {
	*zoom: 1;
}
.clearfix::after {
	content:' ';
	display:block;
	height:0;
	overflow:hidden;
	clear:both;
}
